<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <span class="navbar-brand">
                Websites
            </span>
            <p class="navbar-text pull-right">
                <a href="website-new.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <input class="jw-card-toggle btn btn-xs"
                       data-size="mini"
                       data-on="Card"
                       data-off="List"
                       type="checkbox"
                       checked data-toggle="toggle" />
            </p>
        </div>
    </div>
</nav>

<div class="jw-card-group container">
<div class="row">
    <!-- 1st -->
    <div class="col-xs-6">
        <div class="panel panel-default">
            <img width="100%"
                 src="https://i.kinja-img.com/gawker-media/image/upload/s--NrtfWD7a--/dw3l4m5ulgn6qqlhr7om.png" />
            <div class="panel-heading">
                <a href="../page/page-list.view.client.html">
                    <h5>Blogging App</h5>
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="website-edit.view.client.html">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2nd -->
    <div class="col-xs-6">
        <div class="panel panel-default">
            <img width="100%"
                 src="https://i.kinja-img.com/gawker-media/image/upload/s--NrtfWD7a--/dw3l4m5ulgn6qqlhr7om.png" />
            <div class="panel-heading">
                <a href="../page/page-list.view.client.html">
                    <h5>Address Book App</h5>
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="website-edit.view.client.html">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 3nd -->
    <div class="col-xs-6">
        <div class="panel panel-default">
            <img width="100%"
                 src="https://i.kinja-img.com/gawker-media/image/upload/s--NrtfWD7a--/dw3l4m5ulgn6qqlhr7om.png" />
            <div class="panel-heading">
                <a href="../page/page-list.view.client.html">
                    <h5>Script Testing App</h5>
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="website-edit.view.client.html">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4nd -->
    <div class="col-xs-6">
        <div class="panel panel-default">
            <img width="100%"
                 src="https://i.kinja-img.com/gawker-media/image/upload/s--NrtfWD7a--/dw3l4m5ulgn6qqlhr7om.png" />
            <div class="panel-heading">
                <a href="../page/page-list.view.client.html">
                    <h5>Blogger</h5>
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="website-edit.view.client.html">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="jw-list-group container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">Blogging App</a>
            <a href="" class="pull-right">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>
            <a href="website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">Address Book App</a>
            <a href="" class="pull-right">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>
            <a href="website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">Script Testing App</a>
            <a href="" class="pull-right">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>
            <a href="website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">Blogger</a>
            <a href="" class="pull-right">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>
            <a href="website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>