<!DOCTYPE html>
<div class="container">


    <h2>Login</h2>

    <!-- Trufee? model.error has to be there to render -->
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{model.error}}
    </div>

    <!-- ng-model variables: Only available in the view -->
    <input ng-model="username"
           class="form-control"
           placeholder="username"
           type="text"/>

    <!-- ng-model variables: Only available in the view -->
    <input ng-model="password"
           class="form-control"
           placeholder="password"
           type="password" />

    <a ng-click="model.login(username, password)"
       class="btn btn-primary btn-block">Login</a>
    <a class="btn btn-success btn-block"
       href="#/register">Register</a>
</div>