<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <span class="navbar-brand">
                Profile
            </span>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"
                          aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    {{model.user}}

<form> <!-- Doesn't need to be form, can be a div. We are not even going to use forms in the future, using ajx instead-->
    <div class="form-group">
        <label for="username">Username</label> <!-- for must match the id bellow -->
        <input ng-model="model.user.username"
               type="text"
               class="form-control"
               id="username" />
    </div>
    <div class="form-group">
        <label for="email">Email</label> <!-- for must match the id bellow -->
        <input ng-model="model.user.email"
               type="text"
               class="form-control"
               id="email" />
    </div>
    <div class="form-group">
        <label for="first">First Name</label> <!-- for must match the id bellow -->
        <input ng-model="model.user.firstName"
               type="text"
               class="form-control"
               id="first" />
    </div>
    <div class="form-group">
        <label for="last">Last Name</label> <!-- for must match the id bellow -->
        <input ng-model="model.user.lastName"
               type="text"
               class="form-control"
               id="last" />
    </div>
</form>

<a class="btn btn-primary btn-block"
   href="#/user/{{model.user._id}}/website">Websites</a>
<a class="btn btn-danger btn-block"
   href="#/login">Logout</a>
<a class="btn btn-danger btn-block"
   ng-click="model.unregister()">Unregister</a>


</div>