<!DOCTYPE html>
<div class="container">
    <h2>Register</h2>

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <input ng-model="username"
           class="form-control"
           placeholder="username"
           type="text"/>
    <input ng-model="password"
           class="form-control"
           placeholder="password"
           type="password"/>
    <input ng-model="passwordAgain"
           class="form-control"
           placeholder="verify password"
           type="password"/>

    <a class="btn btn-primary btn-block"
       ng-click="model.verifyAndCreateUser(username, password, passwordAgain)">Register</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>
</div>